.page-success {
  .row-login {
    min-height: 75vh;
  }

  .section-success {
    font-size: 20px;
    color: #0c0d36;
    margin-top: 0;
  }

  .btn-dashboard {
    @include button-variant(#8185da, transparent);
  }
  .btn-signup {
    @include button-variant(#e4abbd, transparent);
  }
}
